/*-- scss:defaults --*/

$body-bg: #00264A;
$body-color: #fff;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.reveal .slide-logo {
    height: 100px !important;
    width: 100px !important;
    max-width: unset !important;
    max-height: unset !important;
  }
  
.reveal .footer {
    color: #42affa !important;
}